{% extends 'base.html.twig' %}

{% block title %}Status Changed{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% include 'flash_message.html.twig' %}
        </div>
    </div>
{% endblock %}
